<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Usuários</title>
</head>
<body>
    <h1>Lista de Usuários</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Tipo de Usuário</th>
            </tr>
        </thead>
        <tbody id="usuarios">
            <!-- Os usuários serão inseridos aqui pelo JavaScript -->
        </tbody>
    </table>

</body>
</html>